name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y ffmpeg

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel setuptools<70
        pip install torch numpy numba --no-cache-dir
        pip install --no-build-isolation openai-whisper==20231117
        pip install -r requirements.txt
        pip install pytest-cov httpx

    - name: Run tests with pytest
      env:
        REDIS_URL: redis://localhost:6379/0
        DB_URL: sqlite:///:memory:
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)
        pytest --cov=src tests/
